<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Scheduled Tweets</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, :data => {turbo: "false"}, class: "btn btn-primary" %>


<p>Hello, my name is Zukhra. This is my portfolio project.
  It allows to sign up, link Twitter account and schedule in the future tweets posted in your account</p>
<p>Technologies used:</p>
<ul>
  <li>Ruby on Rails</li>
  <li>Twitter API</li>
  <li>Bootstrap CSS</li>
  <li>PostgreSQL</li>
  <li>Redis</li>
</ul>
<a href="https://github.com/Zu18/scheduled-tweets-rails-">Source code on GitHub</a>
